<section class="landing-section relative bg-black h-screen w-full text-center overflow-hidden" data-header-color="white">
    <div class="relative flex flex-col z-30 h-full">
        <header>
            <h2 class=" text-white text-[40px] pt-40 font-medium">Experiencia Tesla</h2>
            <p class=" text-white text-xs">Schedule a Demo Drive Today</p>
        </header>
        <footer class="hidden sm:flex flex-col flex-grow justify-end pb-24">
            <div>
                <a class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block
                hover:bg-white hover:text-black transition-colors"href="#">Prueba de conducción</a>
            </div>
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 w-full z-10">
        <video class="object-center object-cover h-full w-full" autoplay muted loop src="/public_video.webm"></video>
    </div>
</section>