<section id="Accessories" class="landing-section relative bg-black h-screen w-full text-center overflow-hidden" data-header-color="black">
    <div class="relative flex flex-col z-30 h-full">
        <header>
            <h2 class=" text-black text-[40px] pt-24 font-medium">Accessories</h2>
        </header>
        <footer class="hidden sm:flex flex-col flex-grow justify-end pb-20">
            <div class="flex justify-center gap-x-4">
                <a class="bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block
                hover:bg-black hover:text-white transition-colors"href="#">Shop Now</a>
            </div>
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 w-full z-10">
        <img class="object-center object-cover h-full w-full" src="/accessories.avif"></img>
    </div>
</section>