---
import Layout from '../layouts/Layout.astro';
import LandingHeader from './LandingHeader.astro';
import HeroSection from './HeroSection.astro';
import HeroSection2 from './HeroSection2.astro';
import HeroSection3 from './HeroSection3.astro';
import HeroSection4 from './HeroSection4.astro';
import HeroSection5 from './HeroSection5.astro';
import HeroSection6 from './HeroSection6.astro';
import HeroSection7 from './HeroSection7.astro';
---

<Layout title="Tesla el Fututo de los Carros - Reiner Alayo">
	<!-- COMIENZO SECCION HEADER RESPONSIVE -->
	<LandingHeader/>
	<!-- FIN DE SECCION HEADER RESPONSIVE -->
	<main class="relative w-full overflow-auto snap-y snap-mandatory h-screen scroll-smooth">
		<div class="snap-center">
			<!-- COMIENZO DEL VIDEO DE FONDO -->
			<HeroSection/>
			<!-- FIN DEL VIDEO DE FONDO -->
		</div>
		<div class="snap-center">
			<HeroSection2/>
		</div>
		<div class="snap-center">
			<HeroSection3/>
		</div>
		<div class="snap-center">
			<HeroSection4/>
		</div>
		<div class="snap-center">
			<HeroSection5/>
		</div>
		<div class="snap-center">
			<HeroSection6/>
		</div>
		<div class="snap-center">
			<HeroSection7/>
		</div>
	</main>
</Layout>
